# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Unit Test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.9.x, 21.1.x, 22.20.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev make gcc wget curl
          sudo apt-get install --yes ghostscript=10.06.0 graphicsmagick=1.3.45
          sudo apt install libx11-dev libxext-dev zlib1g-dev libpng-dev libjpeg-dev libfreetype6-dev libxml2-dev
          sudo wget https://download.imagemagick.org/ImageMagick/download/${{vars.IMAGE_MAGIC_VERSION}}.tar.gz
          sudo tar xzf 7.1.2-7.tar.gz
          sudo rm 7.1.2-7.tar.gz
          sudo sh ./ImageMagick-7.1.2-7.tar.gz/configure --prefix=/usr/local --with-bzlib=yes --with-fontconfig=yes --with-freetype=yes --with-gslib=yes --with-gvc=yes --with-jpeg=yes --with-png=yes --with-tiff=yes --with-xml=yes --with-gs-font-dir=yes
          sudo make -j4
          sudo make install
          sudo ldconfig /usr/local/lib

      - name: Install dependencies
        run: |
          convert -version
          convert -version
          gm -version
          run: gs -h
          npm install node-pre-gyp -g
          npm run test
        env:
          NODE_ENV: production
          CI: true
